@import "src/variables";

.input {
  background-color: $color-gray;
  outline: none;
  border: none;
  width: 100%;
  padding: $padding-small $padding-size;
  border-radius: 30px;
  box-sizing: border-box;

  &:focus {
    border: lightskyblue 1px solid;
  }

  &__error {
    color: #e7333f;
    min-height: $margin-large;
    font-size: 0.8rem;
    text-align: left;
    padding-left: $padding-size;
    width: 100%;
  }
}

