@import "src/variables";

.projects-header {
  padding: $padding-small;
  display: flex;
  justify-content: center;

  &__button {
    margin: 0 5px;
    background-color: white;
    outline: none;
    border: lightgray 1px solid;
    padding: $padding-small;
    cursor: pointer;
    min-width: 200px;
    display: flex;
    align-items: center;

    & > i {
      margin-right: $margin-middle;
      color: $color-text-dark;
    }

    & > b {
      color: $color-text-dark;
    }

    @include active-btn;

    &:hover {
      border: none;
    }

    &--active {
      transform: scale(0.90);
      border: none;

      i, b {
        color: white;
      }
    }
  }
}