@import "src/variables";

.project-search {
  border: $color-gray 1px solid;
  padding: 0 $padding-small;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  max-width: 150px;
  cursor: pointer;

  & > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & > i {
    margin-left: $margin-small;
  }

  &__content {
    background-color: white;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);

    & hr {
      background-color: $color-gray;
      border-width: 0;
      height: 1px;
    }
  }

  &__section {
    padding: $padding-small;
    font-size: 0.8rem;

    & > input {
      border: $color-gray 1px solid;
      padding: 2px $padding-small;

      &:focus {
        outline: 1px solid lighten($color-link, 15%);
      }
    }

    & p {
      cursor: pointer;

      &:hover {
        color: $color-link;
      }
    }
  }

  &__creation {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover i, &:hover b {
      color: $color-link;
    }

    & > b {
      color: $color-text-dark;
      margin-left: $margin-small;
    }
  }
}