@import "variables";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  color: dimgray;
  margin: 0;
  font-family: 'Poppins', serif;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link;
  }
}

html {
  overflow-y: auto !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
